</head>
<body>
<nav th:fragment="navbar (onevar)"  class="navbar navbar-expand-lg navbar-dark" style="background-color: #258a85;">
    <div class="container-fluid ms-3">
        <a class="navbar-brand font-weight-bold" style="color: white;" href="/">RumahSehat</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a sec:authorize="hasRole('Admin')" class="nav-link dropdown-toggle" th:classappend="${onevar == 'user'} ? active : ''" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/dokter}">Dokter</a></li>
                        <li><a class="dropdown-item" th:href="@{/apoteker}">Apoteker</a> </li>
                        <li><a class="dropdown-item" th:href="@{/pasien}">Pasien</a> </li>
                    </ul>
                </li>
                <a sec:authorize="hasAnyRole('Admin', 'Dokter')" class="nav-item nav-link" th:classappend="${onevar == 'appointment'} ? active : ''" th:href="@{/appointment}">
                    Appointment
                </a>
                <a sec:authorize="hasAnyRole('Admin', 'Apoteker')" class="nav-item nav-link" th:classappend="${onevar == 'resep'} ? active : ''" th:href="@{/resep}">
                    Resep
                </a>
                <a sec:authorize="hasAnyRole('Admin', 'Apoteker')" class="nav-item nav-link" th:classappend="${onevar == 'obat'} ? active : ''" th:href="@{/obat}">
                    Obat
                </a>
                <a sec:authorize="hasRole('Admin')" class="nav-item nav-link" th:classappend="${onevar == 'stats'} ? active : ''" th:href="@{/statistics}">
                    Statistik
                </a>
            </ul>
            <ul class= "navbar-nav pull-right">
                <a class="nav-item nav-link text-text-secondary" th:if="${onevar == 'logged-out'}" th:href="@{/login}">Login</a>
                <a class="nav-item nav-link text-text-secondary" th:if="${onevar != 'logged-out'}" th:href="@{/logout-sso}">Logout</a>
            </ul>
        </div>
    </div>
    </div>
</nav>
</body>
