<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Kesalahan telah terjadi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'logged-out'})"></nav>
<div class="container" style="width:75%; padding-top:50px;">
    <div class="justify-content-center">
        <div style="margin: auto; padding-top: 10px; width: 80%; padding: 20px; text-align: center">
            <h2 style="font-weight: bold; padding-top: 10px;" >Kesalahan telah terjadi</h2>
            <br>
        </div>
        <div class="card m-4 p-4">
            <div class="card-body">
                <p style="text-align: center">Telah terjadi kesalahan. Mohon coba lagi.</p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>