<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Detail Appointment</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'appointment'})"></nav>
<div class="container" style="width:75%; padding-top:50px;">
    <div class="justify-content-center">
        <div style="margin: auto; padding-top: 10px; width: 80%; padding: 20px; text-align: center">
            <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message}"></div>
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
            <h2 style="font-weight: bold; padding-top: 10px;" >Detail Appointment</h2>
            <br>
        </div>
        <div style="margin: auto; padding-top: 10px; width: 80%; padding: 20px; text-align: center">
            <p th:text="'Kode: ' + ${appointment.kode}"></p>
            <p th:text="'Waktu Awal Appointment: ' + ${dateTime}"></p>
            <p th:if="${appointment.isDone}">Status Appointment: Selesai</p>
            <p th:unless="${appointment.isDone}">Status Appointment: Belum Selesai</p>
            <p th:text="'Nama Dokter: ' + ${appointment.dokter.nama}"></p>
            <p th:text="'Nama Pasien: ' + ${appointment.pasien.nama}"></p>
            <p th:if="${appointment.resep} != null">
                <a class="btn btn-primary align-content-center" th:href="@{/resep/detail(id=${appointment.resep.id})}">Detail Resep</a>
            </p>
            <p sec:authorize="hasRole('Dokter')" th:if="${appointment.isDone} == false">
                <a class="btn btn-primary align-content-center" th:href="@{/resep/create-resep(kodeApp=${appointment.kode})}" th:if="${appointment.resep} == null">Create Resep</a>
            </p>
            <p sec:authorize="hasRole('Dokter')" th:if="${appointment.isDone} == false and ${appointment.resep} == null">
                <button type="button" class="btn btn-primary align-content-center" id="confirmationButton">
                    Selesai
                </button>
            </p>
            <p sec:authorize="hasRole('Dokter')" th:if="${appointment.isDone} == false and ${appointment.resep} != null">
                <a class="btn btn-primary align-content-center"
                   th:href="@{/appointment/detail/} + ${appointment.kode} + @{/selesai}">
                    Selesai
                </a>
            </p>
            <div class="modal" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmationModalLabel">Konfirmasi Penyelesaian Appointment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Apakah anda yakin ingin menyelesaikan appointment tanpa memiliki resep?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                            <a class="btn btn-primary align-content-center"
                                    th:href="@{/appointment/detail/} + ${appointment.kode} + @{/selesai}">Ya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script>
    var modal = document.getElementById("confirmationModal");
    var button = document.getElementById("confirmationButton");
    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("btn btn-danger")[0];

    button.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    span2.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    // var submitLink = document.getElementById("selesai")
    // submitLink.addEventListener('click', function (e) {
    //     if (!confirm('Apakah anda ingin menyelesaikan appointment tanpa ada resep?')) {
    //         e.preventDefault();
    //     }
    // });
</script>
</body>
</html>